.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 68px;
  right: 18px;
  display: none;
  z-index: 1000;
  opacity: 0.7;
}

.to-bottom {
  cursor: pointer;
  position: fixed;
  bottom: 19px;
  right: 18px;
  display: none;
  z-index: 1000;
  opacity: 0.7;
}